@media(max-width : 1199px){
    
    .sidebar-open{
        display: none;
    }

}


@media(min-width : 1200px){
    
    .sidebar-open{
        position: fixed;
        left: 0;
        bottom: 0;
        top: 52px;
        background-color: white;
        width: 240px;
        padding-top: 13px;
        z-index: 200;
    }
    
    .sidebar-open-link{
        display: flex;
        align-items: center;
        padding:8px 24px ;
        border-radius: 12px;
    
        cursor:pointer; 
    }
    
    .sidebar-open-link:hover{
        background-color: rgb(240, 240, 240);
    }
    
    .sidebar-open-link img{
        height: 26px;
        margin-right: 24px;
    }
    
    .sidebar-open-link div{
        font-size: 14px;
        font-weight: 425;
        margin-right: 25px;
    }

    .divider{
        height: 1px;
        background-color: #e8e4e4; /* light gray */
        margin: 12px auto;

        width: 85%;
    }
}